<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
    <link rel="stylesheet" href="/vendor/border-box.css" />
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/layout.css" />
    <link rel="stylesheet" href="/styles/unitSubmitBox.css" />

    <script src="/vendor/jquery-3.0.0.js"></script>
    <script defer src="/scripts/app.js"></script>
  </head>

  <body>
    <h1>Have fun! 🥔</h1>
    <main class="calcBox">
      <section class="calcBox">
        <h2>Enter Units to Convert</h2>
        <div class="error"></div>
        <form class="form-inline">
          <label for="tweet-text"></label>
          <textarea
            name="text"
            class="tweet"
            id="tweet-text"
            placeholder="What are you humming about?"
          ></textarea>
          <div class="tweet-button">
            <button type="submit" id="submitButton" onclick=>Tweet</button>
            <output name="counter" class="counter" for="tweet-text">140</output>
          </div>
        </form>
      </section>
      <!-- Past tweets styled in pastTweets.css and html in client.js -->
      <section id="tweets-container"></section>
    </main>
  </body>
</html>
