/* styling for entire new tweets box, html in index.html */
.new-tweet {
  display: flex;
  width: 90%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 0.5em;
}

/* styling for error messages, html in index.html */
.error {
  color: crimson;
  font-weight: bold;
}

/* styling for textarea where text is entered */
.tweet {
  display: flex;
  justify-content: center;
  width: 600px;
  background-color: #f4f1ec;
  border-style: hidden;
  border-bottom: solid;
}

/* styling for tweet button and counter */
.tweet-button {
  display: flex;
  justify-content: space-between;
}
