/* styling for entire new tweets box, html in index.html */
.input-group {
  flex-direction: row;
}
/* styling for error messages, html in index.html */
.error {
  color: crimson;
  font-weight: bold;
}

/* styling for textarea where text is entered */
.number {
  display: flex;
  justify-content: center;
  width: 200px;
  background-color: #f4f1ec;
  border-style: hidden;
  border-bottom: solid;
}

/* styling for tweet button and counter */
.submit-button {
  display: flex;
  justify-content: space-between;
}
